@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
.clr{
    clear: both;
}
.container{
    width: 80%;
    margin: auto;
}


.home{
    background-image: url(../image3/slider-02\ \(1\).jpg);
    background-size:cover;
background-position: center center;
    height: 100vh;
    position: relative;
}
.red{
    color: #ff305b;
font-weight: 300;
font-size: 16px;
line-height: 20px;
}

.layer{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:rgba(0,0,0,.8);
}
.navbar{
    width: 90%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.first__navbar{
    width: 30%;
    height: 40px;
    position: relative;
    font-size: 24px;
    font-weight: 500;
    line-height: 25px;
    padding-top: 20px; 
}
.first__navbar a{
    color: #ff305b;
    text-decoration: none;
}


.second_navbar{
    width: 50%;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
   display: inline;
   font-size: 15px;
   padding-top: 20px;
   font-weight: 300;
font-size: 16px;
line-height: 20px;
}
.second_navbar ul li a{
    color: white;
    text-decoration: none;
    padding-left:15px;
}
.second_navbar li {
    display: inline;
}

.navbar_text{
    font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 39%;
}
.navbar_text h2{
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
}
.navbar_text h1{
    color: #ff305b;
    font-size: 50px;
    font-weight:700 ;
    font-size:70 ;
    line-height:77px ;
    text-transform: uppercase;
}
.navbar_text h3{
    color: white;
    font: 15px;
    font-weight: 300;
    font-size: 26px;
    line-height: 31px;
}

.second_navbar li:hover a{
    color: #ff305b;
    transition: all ease-in-out 500ms;
}
.about{
   margin: 120px auto;
}
.about .container{
    width: 65%;
}
.about_img{
width: 35%;
border: 7px solid #555555 ;
border-radius: 5px;
float: left;
}
.layer-2{
    position: absolute;
    top: 100%;
    left: 0;
    background-color:rgba(0,0,0,.5);
    width: 100%; 
    height: 100%;
}
.image:hover .layer-2{
    top: 0;
    transition: all ease 500ms;
}

.image{
    overflow: hidden;
    position: relative;
   left: 20px;
   top: 25px;
}
.image img{
    width: 100%;
}
.layer-2 ul li{
    display: inline-block;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    font-size: 18px;

}
.layer-2 ul{
    position: absolute;
    right: 25%;
    top: 50%;
}
.layer-2 ul li:hover{
    color: #ff305b;
    transition: all ease 800ms;
}
.card .logo{
    padding: 20px 0;
}
.card .logo i{
    font-size: 30px;
    color: #ff305b;
}

.about_text{
    width: 55%;
    float: right;
    margin-left: 15px;
}
.text-before{
    position: relative;
    padding-left: 13px;
    font-size: 32px;
    font-weight: 700;
    color: #333;
    line-height: 60px;
}
.text-before::before{
    position: absolute;
    content: "";
    background-color: #ff305b;
    height: 30px;
    width: 5px;
    left: 0px;
    top:15px;
}
.muted{
    color: #555555;
    border-bottom: 1px #999999 dashed;
    /* margin: 5px 0; */
    padding-bottom: 20px;
    font-size: 19px;
}
.left-ul{
    float: left;
    width: 50%;
}
.right-ul{
    float: right;
    width: 50%;
}

ul li{
    list-style: none;
    padding: 10px 0;
}
.left-ul span,.right-ul span{
    color: #333;
    font-weight: 500;
    font-size: 20px;
}
.left-ul li,.right-ul li{
    color: #555555;
}
.right-ul a{
    text-decoration: none;
    color: #555555;
}
.buttons{
    margin-top: 10px;
}
.buttons button{
    border: none;
    outline: none;
    background-color: #ff305b;
    color: white;
    padding: 10px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}
.buttons button:hover{
    background-color: orangered;
    transition: all 1s ease;
}
.margin{
    margin-left: 10px;
}
.service{
    text-align: center;
    background-color: #e7e6e6;
    padding: 50px 0 ;

}
.service-text{
    position: relative;
    width: 25%;
    margin: auto;
    color: #333;
    padding: 50px 0;

}
.service-text h2{
     font-weight: 800;
    font-size:35px ;
   line-height:26px ;
}
.card{
    width: 25%;
    float: left;
    text-align: center;
    padding: 25px 0;
}
.cards{
    width: 75%;
margin: 0px auto ;
}
.card p{
    padding:0 10px;
    font-family:"Roboto, sans-seri"f;
font-weight:400 ;
font-size:16px;
line-height:25px ;
color: #555555;
padding-bottom: 25px;
}
.card h3{
    padding: 20px 0;
     font-weight: 600;
    font-size:25px ;
   line-height:26px ;
}
.card:hover{
    background-color: white;
}
.card:hover .logo{
    transform: scale(1.5);
    transition: all ease 500ms;
}



/*start portfolio*/


.portfolio-header{
   width: 30%;
   margin:20px auto ;
}
.portfolio-header h2{
    text-align: center;
    font-family: "Source Sans Pro", sans-serif ;
    font-weight:800 ;
    font-size:40px ;
    line-height:25px ;
   padding-top: 25px;
}
.brd1{
    width: 120px;
    height: 1px;
    background-color: #ff305b;
    margin: 5px auto;
}
.brd2{
    width:250px ;
    height:1px ;
    background-color: #ff305b;
    margin: 5px auto;
}

.portfolio-text{
    width: 50%;
    text-align: center;
    margin: auto;
}
.portfolio-link{
    margin-bottom: 20px;
    margin-top: 30px;
}
.portfolio-link ul li{
list-style: none;
display: inline;
padding-left: 25px;
}
.portfolio-link ul li a{
    text-decoration: none;
    color: #333;
}
.portfolio-link .la{
    color: #ff305b;
}
.portfolio-img{
    float: right;
width: 32%;
position: relative;
overflow: hidden;
}
.portfolio-img img{
width: 100%;
padding: 15px;
}
.layer-3{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    right: 0;
    background-color: rgba(0,0,0,.5);
opacity: 0;
}
.portfolio-img:hover .layer-3{
    opacity:  1;
    transition: all ease 1s;
}




 /*start data*/  
.data{
    height: 200px;
    background:#eee;
    margin-top: 80px;
}
.team{
    width: 25%;
    float: left;
    padding: 50px;
    margin: 10px 0px;
    text-align: center;
}
.team h3{
    font-size: 26px;
    font-weight: 800;
    line-height: 29px;
    color: #333333;
    margin:0 0 10 0px;
}
.team h5{
    color: #818080;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
}
.logo_team{
    color: #ff305b;
    font-size: 25px;
    padding-bottom: 20px;
}

/*start client feedback*/
.client_feedback{
    margin-top: 60px;
    height: 500px;
}
.client_header h2{
    text-align: center;
    font-family: "Source Sans Pro", sans-serif ;
    font-weight:800 ;
    font-size:40px ;
    line-height:25px ;
   padding-top: 25px;
   padding-bottom: 20px;
}
.client_text{
    width: 65%;
    height: 280px;
    background-color:#eee;
    margin: 35px auto;
border: 5px  white;
border-radius: 10px;
position: relative;
}
.client_image  img{
width: 15%;
}
.triangle_image {
    border-bottom: 200px solid transparent;
    border-left: 200px solid #ff305b;
 }
 .client_image img{
    position: absolute;
    top: 20%;
    left:5%;
    border-radius: 80px;
 }
 .client-data{
   width: 75%;
    float: right;
    position: absolute;
   top: 15%;
   left: 24%;
 }
 .client-data h3{
    font-weight: 600;
    font-size:25px ;
   line-height:26px ;
 }
 .united{
    padding-top: 15px;
 }
 .client-data p{
   font-weight: 400;
    font-size:16px ;
   line-height:25px ;
    color: #555555;
    font-style: italic;
    padding-top: 10px;
 }

 .star{
    color: rgb(255, 166, 0);
    padding-top: 30px;
 }
 /*end client feedback*/


 /*start blog*/
 .blog{
    background-color:#eee;
    height: 700px;
    width: 100%;
   margin-top: 30px;
 }
.blog-head{
    margin:25px auto;
    width: 50%;
    height: 100px;
}
.blog-head h2{
    text-align: center;
    font-weight:800 ;
    font-size:40px ;
    line-height:25px ;
    color: #383838;
    padding-top: 80px;
    padding-bottom: 15px;
 }
 .blog-text{
    height: 500px;
    margin-top: 65px;
 }
 .blog-vi{
    width: 30%;
   height: 200px;
   float: left;

 }
 .blog-image img{
   width:100%;
 }
 .blog-content{
padding-top: 20px;
   padding-bottom: 25PX;
   padding-left: 25px;
   background-color:white
 }
 .blog-content h5{
    padding-bottom: 20px;
    color: #868686;
 }
 .blog-content h3 a{
    text-decoration: none;
    color: #333333;
 }
 .blog-content h3:hover a{
    color: #ff305b;
    transition: all ease 100ms;
 }
 .blog-content p{
    padding-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #555555;
    padding-bottom: 25px;
 }
 .more{
    text-decoration:none;
    color: #333333;
 }
 .more:hover{
    color: #ff305b;
    transition: all ease 100ms;
 }
 .blog-content i{
    font-size: 16px;
    color: #818080;
 }
 .blog-v{
  width: 26%;
  height: 450px;
  position: absolute;
  left: 36%;
 }
 .blog-video iframe{
width: 99%;
height: 210px;
 }

.blog-vo{
    width: 32%;
    height: 450px;
    margin-right: 10px;
    float: right;
}
.blog-vo .blog-image img{
    height: 210px;
}
/* end blod*/


/*start contact*/
.contact{
    margin-top: 60px;
}
.contact-head{
    width: 45%;
    margin:35px auto;
}
.contact-head h2{
    text-align: center;
    padding-top: 50px;
    font-family: "Source Sans Pro", sans-serif ;
    font-weight:800 ;
    font-size:40px ;
    line-height:px ;
}
.contact-text{
    margin:30px auto;
}
.contact-form{
    margin: auto;
    width: 60%;
}
 .ename input {
   width: 45%;
  margin: 10px 10px;
   padding: 10px 10px ;
   border: 2px solid #ff305b;
   border-radius: 5px;
   color: #555555;
   font-size: 14px;
   font-weight: 400;
}
.sub input{
    width: 93%;
    margin: 20px 10px;
    padding: 10px;
    border: 2px solid #ff305b;
    border-radius: 5px;
    font-size: 14px;
   font-weight: 400;
}
.message textarea{
    margin-left: 12px;
    padding: 10px;
    font-size: 14px;
   font-weight: 400;
   border: 2px solid #ff305b;
}
.send button{
    width: 20%;
    margin-top: 20px;
    margin-left: 12px;
    margin-bottom: 20px;
    border: none;
    background-color: #ff305b;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size:16px ;
    font-weight: 400;
    line-height: 25px;
   padding: 10px;
    color: white;
    transition-duration:3s;
}

.send:hover button{
    background-color: rgb(255, 51, 0);
}
/*end contact*/


/*start footer*/
.footer{
    background-color: #333232;
    height: 150PX;
}
.logo-footer{
   margin-top:50px ;
}
.logo-footer ul {
    text-align: center;
padding-top: 55px;
list-style: none;
}
.logo-footer ul li {
display: inline;
color: white;
font-size: 20px;
padding-left: 20px;
cursor: pointer;
transition: all ease 100ms;
}
.logo-footer ul li:hover{
    color: #ff305b;
}
.footer-text{
   position: relative;
   left: 35%;
   padding-top: 20px;
   padding-bottom: 15px;
}
.footer-text p{
    color: white;
    font-size: 15px;
    font-weight: 400;
}
.footer-text a{
text-decoration: none;
font-size: 16px;
color: #ff305b;
}
.footer-text:hover a{
    text-decoration: underline;
}
/*end footer*/
 

 
/*animatiom home*/

 .navbar_text h3::after{
    content: 'D|'; 
    animation-name:typing2 ;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes typing2{
 0%{
    color: white;
      content:"D|";
   }
   5%{
     color: white;
    content:"De|"
   }
   10%{
     color: white;
    content: "Dev|"
   }
   15%{
     color: white;
    content: "Deve|";
   }
   20%{
     color: white;
    content: "Devel|";
   }
   25%{
     color: white;
    content: "Develo|";
   }
   30%{
     color: white;
    content:  "Develop|";
   }
   35%{
     color: white;
    content: "Develope|";
   }
   40%{
     color: white;
    content: "Developer|";
   }
   45%{
     color: white;
    content: "Develope|";
   }
   50%{
     color: white;
    content: "Develop|";
   }
   55%{
     color: white;
    content:"Develo|";
   }
   60%{
     color: white;
    content: "Devel|";
   }
   65%{
     color: white;
    content: "Deve|";
   }
   70%{
     color: white;
    content:"Dev|";
   }
   75%{
     color: white;
    content:"De|";
   }
   80%{
     color: white;
    content:" D|";
   } 
  
     80%{
     color: white;
    content:" D|";
   } 
}
   /*
   81%{
    color: white;
    content: "De|";
   }
   82%{
     color: white;
    content: "Des|";
   }
   83%{
     color: white;
    content: "Desg|";
   }
  84%{
     color: white;
    content: "Desgi|";
   }
   85%{
     color: white;
    content: "Desgin|";
   }
   86%{
     color: white;
    content: "Desgine|";
   }
   87%{
     color: white;
    content: "Desginer|";
   }
   88%{
     color: white;
    content: "Desgine|";
   }
   89%{
     color: white;
    content: "Desgin|";
   }
    90%{
         color: white;
    content: "Desgi|";
   }
    91%{
         color: white;
    content: "Desg|";
   }
    92%{
         color: white;
    content: "Des|";
   }
    93%{
         color: white;
    content: "De|";
   }
    94%{
         color: white;
    content: "D|";
   }
    

}